<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng=1.0.dtd">

<suite name = "SQA-assignment">
    <listeners>
        <listener class-name = "com.eCommerce.qa.extentReportListener.ExtentReporterNG"/>
    </listeners>
    <test name = "eCommerce Demo">
        <classes>
            <class name = "com.eCommerce.qa.testcases.Testcases"/>
            <class name = "com.eCommerce.qa.pages.LoginPage"/>
            <class name = "com.eCommerce.qa.pages.MyAccount"/>
            <class name = "com.eCommerce.qa.pages.Women"/>
            <class name = "com.eCommerce.qa.pages.Payment"/>
        </classes>
    </test>
</suite>